/* if screen exceeds 800 px apply desktop css*/
@media (min-width: 800px) {
  .grid{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 4fr 0.5fr 3fr 0.5fr minmax(400px,auto) 0.5fr 1fr;
    grid-template-areas:
    "nav nav  nav"
    "... ...  ..."
    "... head ..."
    "... ...  ..."
    "... cont ..."
    "... ...  ... "
    "... foot ...";
  }
  /* navigation bar and its components*/
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contactboxy,.skillboxy,.certifikaty,nav{
    flex-direction: row;
    justify-content: space-around;
  }

  .skillboxy {
    min-height: 225px;
    height: auto;
  }
  .skillbox{
    height: 225px;
    width: 225px;
  }

  nav > li,.certifikat,.skillbox{
    transition: all .2s ease-in-out;
  }

  /* NAVBAR items:hover */
  nav > li:hover, .certifikat:hover, .skillbox:hover {
    transform: scale(1.1);
  }
}
