/* font and text css */

/* body font */
body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* NAVBAR items font css */
nav > li > a, nav > li > a:visited{
  text-decoration: none;
  font-size: 2em;
  color: inherit;
  display: block;
}

nav > li {
  list-style-type: none;
}

header > h1 {
  font-size: 2em;
}

.certifikat > h2 {
    font-size: 30px;
}

footer {
  font-size: 12px;
}
/*********************/

/* common CSS layout (flexbox, grid) */
.skillboxy, .certifikaty, .contactboxy, .certifikat, .skillbox, header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* NAVBAR container */
nav {
  grid-area: nav;
  text-align: center;
}

/* HEADER container */
header{
  grid-area: head;
  text-align: center;
}

/* CONTENT container */
main {
  grid-area: cont;
  padding: 10px;
}

/* FOOTER container */
footer {
  grid-area: foot;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*************************************/
/* CSS designing */
/* color scheme */
#nope {
  color: #373f51; /* dark */
  color: #477998; /* blue */
  color: #dfd5a5; /* light */
  color: #b3c5d7; /* gray */
  color: #008dd5; /* blue */
}

/* border */
.skillbox, .certifikat, .contactbox, #m,
nav, nav > li, header, main, footer {
  border-style: solid;
  border-width: 0.5px;
  border-color: #373f51;
}
/* background color + image */
body {
  background-color: #477998;
  background-image: url("./../img/bg.gif");
  background-repeat: repeat;
}

/* NAVBAR, HEADER, MAIN, FOOTER background color */
nav, header, main, footer{
  background-color: #b3c5d7;
}

/* NAVBAR items inactive color */
nav > li {
  background-color: #008dd5;
  color: white;
}

/* NAVBAR items :onhover color */
nav > li:hover {
  background-color: #373f51;
}

.skillbox, .certifikat {
  background-color: #e5e6e4;
}
/*****************/

/* other css settings */

#m {
  height: 350px;
}
/* NAVBAR items */
nav > li {
  border-radius: 2.5px;
  margin: 1px;
  padding: 5px;
}

/* HEADER item */
h1 {
  padding: 0;
  margin: 0;
}

/* skilbox header */
.skillbox > h3{
  margin-top: 10px;
  margin-bottom: 10px;
}

.skillbox {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4.5px;
  height: 200px;
}

.certifikat {
  margin: 15px;
  width: 300px;
  height: 300px;
}

.certifikat > h2 {
  padding: 0;
}

.certifikat > picture > img {
  width: 200px;
  height: 200px;
}


/* FOOTER container */
footer{
  margin: 0;
  padding: 0;
}
/* FOOTER items */
footer > p {
  margin: inherit;
}
/**********************/

/* if screen is smaller than 800 px (MOBILE MODE)*/
@media (max-width: 799px) {
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 0.25fr auto 0.125fr;
    grid-template-areas:
    "nav" /* NAVBAR */
    "head" /* HEADER */
    "cont" /* CONTENT */
    "foot"/* FOOTER */;
  }
}

/* if screen exceeds 549 px and not exceeds 799 px (TABLET MODE)*/
@media (max-width: 799px) and (min-width: 549px) {
  .skillboxy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .skillbox {
    height: 225px;
    width: 24vw;
    padding: 10px;
  }
}

/* if screen exceeds 800 px (DESKTOP MODE) */
@media (min-width: 800px) {
  .grid{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 4fr 0.5fr 3fr 0.5fr minmax(400px,auto) 0.5fr 1fr;
    grid-template-areas:
    "nav nav  nav"
    "... ...  ..."
    "... head ..."
    "... ...  ..."
    "... cont ..."
    "... ...  ... "
    "... foot ...";
  }
  /* navigation bar and its components*/
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contactboxy,.skillboxy,.certifikaty,nav{
    flex-direction: row;
    justify-content: space-around;
  }

  .skillboxy {
    min-height: 225px;
    height: auto;
    margin: 5px;
  }

  .skillbox{
    height: 225px;
    width: 20vw;
    padding: 10px;
  }

  nav > li,.certifikat,.skillbox{
    transition: all .2s ease-in-out;
  }

  /* NAVBAR items:hover */
  nav > li:hover, .certifikat:hover, .skillbox:hover {
    transform: scale(1.1);
  }
}

/* DEVELOPEMENT CSS */
,.carousell,{border-style: dotted;}
.certifikaty,.contactboxy,.carousell,.mapa{min-height: 400px;}
