html{
  font-size: 106.25%;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}
/* BODY */
  body{
      background-color: #477998;
  }
  /* MOBILE 1st! */
  .grid {
      display: grid;
      grid-gap: .5em;
      grid-template-rows: 1fr 3.25em minmax(20em,auto) 2.125em;
      grid-template-areas:
      "nav" /* NAVBAR */
      "head" /* HEADER */
      "cont" /* CONTENT */
      "foot"/* FOOTER */;
  }
  /* color scheme
      /* dark #373f51 */
      /* blue #477998 */
      /* light #dfd5a5 */
      /* gray #b3c5d7*/
      /* blue #008dd5 */
  /* NAVBAR */
    nav{
        grid-area: nav;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #b3c5d7;
        border-style: solid;
        border-width: 1px;
        border-color: #373f51;
    }
    h1{
        font-size: 2.125rem;
        margin: .5rem;
        padding: 0.5rem;
        height: 1.5em;
        background-color: #dfd5a5;
        border: 1px solid;
        border-radius: 2.5px;
    }
    ul{
        display: flex;
        flex-direction: column;
        padding: 0.25rem;
        margin: 0;
    }
    /* NAVBAR ITEMS */
    ul > li {
        list-style-type: none;
        background-color: #008dd5;
        color: white;
        border-radius: 2.5px;
        margin: 1px;
        padding: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #373f51;
    }
    .active{
      background-color: #373f51;
    }
    ul > li > a,    ul > li > a:visited{
        text-decoration: none;
        font-size: 1.75rem;
        color: inherit;
        display: block;
    }
      ul > li:hover {
        background-color: #373f51;
    }
  /* HEADER */
    header{
        grid-area: head;
        text-align: center;
        background-color: #b3c5d7;
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* HEADER CONTENT */
      header > h2{
          font-size: 1.625rem;
          padding: 0.25rem;
          margin: 0;
      }
  /* CONTENT */
    main {
        grid-area: cont;
        padding: 0.5rem;
        background-color: #b3c5d7;
        border: 1px solid;
    }
    /* 1st page – skillboxy */
      .skillboxy{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      /* skillbox */
      .skillbox {
          background-color: #e5e6e4;
          border: 1px solid;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          border-radius: 4.5px;
          overflow: hidden;
          width: 90%;
          padding: 0.5rem;
          margin: 0.25rem;
      }
      /* skillbox header */
      .skillbox > h3{
        display: block;
        font-size: 1.375rem;
        padding: 0;
        margin: 0.25em auto 0.5em auto;
      }
      .skillbox > p{
        display: block;
        font-size: 1.125rem;
        padding: 0;
        margin: 0.25em auto 0.5em auto;
      }
      .skillbox > img{
        display: block;
        height: 7em;
        width: 7em;
        margin: 0.5em auto 0.5em auto;
        padding: 0;
        /* top | right | bottom | left */
      }
    /* 2nd page – mapyapi */
      #m{
          height: 70vh;
          border-style: solid;
          border-width: 1px;
          border-color: #373f51;
      }
    /* 3rd page – carousell */
      .carousell {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          height: 100%;
          align-items: center;
      }
      .imagebox {
          height: 20em;
          width: auto;
          border-radius: 4.5px;
          overflow:hidden;
          margin: 10px;
          border-style: solid;
          border-width: 1px;
          border-color: #373f51;
      }
      .imagebox > img {
          width: inherit;
          height: inherit;
          border-radius: inherit;
      }
    /* 4th page – certifikaty */
      .certifikaty{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          padding: 0;
          margin: 0;
          text-align: center;
      }
      .certifikat{
          background-color: #e5e6e4;
          border: 1px solid black;
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 80vw;
          max-width: 17em;
          height: auto;
          overflow: hidden;
          margin: 0.25em auto 0.25em auto;
          border-radius: 4.5px;
        }
      .logo {
          width: 100%;
          padding: 0;
          margin: 0 auto 0 auto;
          background-color: white;
      }
      .cert-txt {
          font-size: 1rem;
          margin: 1em auto 0 auto;
          padding: 0;
      }
      .cert-href {
          font-size: 0.9rem;
          margin: 0 auto 1em auto;
          padding: 0;
      }
    /* 5th page – contactboxy */
      .contactboxy{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .contactbox-text{
        background-color: #e5e6e4;
        border: 1px solid;
        border-radius: 4.5px;
        margin: 1em auto 0.5em auto;
        padding: 1em;
      }
      .contactbox-img {
        margin: 0.5em auto 1em auto;
        padding: 0;
        height: 350px;
        border-radius: 4.5px;
        border-style: solid;
        border-width: 1px;
        border-color: #373f51;
      }
      .cont-h{
        font-size: 1.375rem;
        padding: 0;
        margin: 0em auto 0.25em auto;
      }
      .cont-t{
        font-size: 1rem;
        padding: 0;
        margin: 0 auto 0.25em auto;
      }
      .contactbox-img > img {
          border-radius: inherit;
          width: inherit;
          height: inherit;
      }
  /* FOOTER */
    footer{
        grid-area: foot;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: #b3c5d7;
        border-style: solid;
        border-width: 1px;
        border-color: #373f51;
        text-align: center;
        height: 100%;
    }
    /* FOOTER items */
      footer > p {
          font-size: .9rem;
          margin: inherit;
      }

@media (max-width: 25em){
  .grid {
      grid-template-rows: 1fr 4.25em minmax(20em,auto) 2.125em;
  }
}

@media (max-width: 30.375em){
  /* NAVBAR */
    h1{
        height: 3em;
    }
  /* FOOTER items */
    footer{
        height: 4em;
    }
}

@media (max-width: 82.5em) and (min-width: 45em) {
  /* CONTENT */
    /* 1st page – skillboxy */
      .skillboxy {
          flex-direction: row;
          justify-content: space-around;
      }
      /* skillbox */
      .skillbox {
        width: 27.5vw;
        height: 16.25em;
      }
    /* 2nd page – mapyapi */
    /* 3rd page – carousell */
    /* 4th page – certifikaty */
      .certifikaty{
          flex-direction: row;
      }
    /* 5th page – contactboxy */
      .contactboxy{
          flex-direction: row;
          justify-content: space-around;
      }
      .contactbox-text {
        order: 1;
      }
}

@media (min-width: 82.5em) {
  /* BODY */
    .grid{
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 2fr minmax(60rem,auto) 2fr;
        grid-template-rows: 5rem 1rem 3rem 1rem minmax(5rem,auto) 1rem 2rem;
        grid-template-areas:
        "nav nav  nav"
        "... ...  ..."
        "... head ..."
        "... ...  ..."
        "... cont ..."
        "... ...  ... "
        "... foot ...";
    }
  /* NAV */
    nav{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
      ul{
      flex-direction: row;
      justify-content: space-around;
      width: 60vw;
    }
      ul > li{
        margin: 1vw;
        transition: all .2s ease-in-out;
    }
      ul > li:hover{
        transform: scale(1.1);
    }
  /* CONTENT */
    /* 1st page – skillboxy */
      .skillboxy{
          flex-direction: row;
          justify-content: space-around;
      }
      /* skillbox */
      .skillbox{
          min-width: 15em;
          min-height: 15em;
          height: 15vh;
          transition: all .2s ease-in-out;
      }
      .skillbox:hover{
          transform: scale(1.1);
      }
    /* 2nd page – mapyapi */
    /* 3rd page – carousell */
    /* 4th page – certifikaty */
      .certifikaty{
          flex-direction: row;
          justify-content: space-around;
          align-items:center;
      }
      .certifikat{
      }
    /* 5th page – contactboxy */
      .contactboxy{
          flex-direction: row;
          justify-content: center;
          align-items: center;
      }
      .contactbox-text {
        order: 1;
      }
      .contactbox-img {
          order: 0;
          margin-right: 40px;
          align-items: center;
      }
  /* FOOTER */
}

@media print{
  @page{
    margin: 1.5cm;
  }
  nav, .contactbox-img > img, .skillbox > picture, .cert-href, .logo {
    display: none;
  }

  .skillbox,.skillbox > h3, .certifikat > .cert-txt {
    margin: 0;
    padding: 0;
  }
  nav,.skillbox,header, .contactbox-img,.imagebox, .certifikat, .logo {
    border: 0;
    border-style: none;
    border-radius: 0px;
  }
  .skillbox{
      width: auto;
      height: auto;
      justify-content: flex-start;
  }
  main, footer, .grid{
    border-style: none;
  }
}
